<div class="ns_creditsHolder">
	<div class="ns_creditsContainer">
		<div class="ns_creditsLineThin"></div>
		<h2>{{= aboutThisPageTitle }}</h2>
		<p>{{= aboutThisPageParagraph1 }}</p>
		<p>{{= aboutThisPageParagraph2 }}</p>
		<h2>{{= creditsTitle }}</h2>
		<p>{{= creditsParagraph }}</p>
		<h2 class="ns_shareThisStoryTitle">{{= shareHeading }} <a href="{{= shareDisclaimerLink_url }}">{{= shareDisclaimerLink_text }}</a></h2>
		<a href="mailto:?subject=<!-- urlencodeme-start -->{{= shareTitle }}<!-- urlencodeme-end -->&amp;body=<!-- urlencodeme-start -->{{= shareDescription }} {{= shareUrl }}<!-- urlencodeme-end -->" class="ns_shareIconLink ns_shareEmailIcon">
			<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/email.png" alt="email">
		</a>
		<a href="https://www.facebook.com/sharer/sharer.php?u=<!-- urlencodeme-start -->{{= shareUrl }}<!-- urlencodeme-end -->" class="ns_shareIconLink ns_shareFacebookIcon" target="_blank">
			<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/facebook.png" alt="facebook">
		</a>
		<a href="https://twitter.com/intent/tweet?text=<!-- urlencodeme-start -->{{= twitterMessage }}<!-- urlencodeme-end -->&amp;url=<!-- urlencodeme-start -->{{= shareUrl }}<!-- urlencodeme-end -->" data-social-url="https://twitter.com/intent/tweet?text=<!-- urlencodeme-start -->{{= twitterMessage }}<!-- urlencodeme-end -->&amp;url=" data-target-url="<!-- urlencodeme-start -->{{= shareUrl }}<!-- urlencodeme-end -->" class="ns_shareIconLink ns_shareTwitterIcon" target="_blank">
			<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/twitter.png" alt="twitter">
		</a>
		<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<!-- urlencodeme-start -->{{= shareUrl }}<!-- urlencodeme-end -->&amp;title=<!-- urlencodeme-start -->{{= shareTitle }}<!-- urlencodeme-end -->&amp;summary=<!-- urlencodeme-start -->{{= shareDescription }}<!-- urlencodeme-end -->&amp;source=<!-- urlencodeme-start -->BBC News<!-- urlencodeme-end -->" class="ns_shareIconLink ns_shareLinkedInIcon" target="_blank">
			<img src="{{= pathStatic }}/{{= vocab_dir }}/img/share-icons/linkedin.png" alt="linkedin">
		</a>
		<div class="ns_onwardJourneys">
			<div class="ns_creditsLineThick"></div>
			<h2>{{= onwardJourneyTitle }}</h2>
			<div class="ns_creditsLineThin"></div>
			<a href="{{= onwardJourneyLink1_url }}">{{= onwardJourneyLink1_text }}</a>
			<a href="{{= onwardJourneyLink2_url }}">{{= onwardJourneyLink2_text }}</a>
			<span>{{= onwardJourneyDisclaimer }}</span>
		</div>
	</div>
</div>