<div class="ns12791_randomCity">
    <h3 class="ns12791_subheading">{{= exploreFurther }}</h3>
    <p class="ns12791_paragraph">{{= randomCityParagraph }}</p>
    <button class="ns12791_button ns12791_randomCityButton">{{= randomCityButton }}</button>
</div>
