<div class="ns12791_resultsHolder">
	<p>{{= topTracksIn }}</p>
	<h3 id="ns12791_resultsCityName">London</h3>
	<div class="ns12791_songResultsFirstHalf" id="ns12791_songResultsFirstHalf">
		
	</div><button class="ns12791_showMoreTracksButton ns12791_button--show">
       {{= showMoreTracks }}
    </button><div class="ns12791_songResultsSecondHalf ns12791_songResultsSecondHalf--mobHidden" id="ns12791_songResultsSecondHalf">
    	
	</div>
    <button class="ns12791_showLessButton">
       {{= showLess }}
    </button>
</div>