<div class="ns12791_resultsHolder">
	<p>{{= topTracksIn }}</p>
	<h3 id="ns12791_resultsCityName">London</h3>
	<div class="ns12791_songResultsFirstHalf" id="ns12791_songResultsFirstHalf">
		
	</div><div class="ns12791_songResultsSecondHalf" id="ns12791_songResultsSecondHalf">
		
	</div>
</div>