<div class="ns12791_topSearchHolder">
	<div class="ns12791_searchContentsHolder">
		<h1>Musical twin towns</h1>
		<h4>The songs cities are searching for...</h4>
		<div class="ns12791_cityFreeTextSearchHolder">
			<h4>Enter your nearest city</h4>
			
			<div class="club-search--inputs">
                <div class="club-search--autocomplete">
                    <input type="text" placeholder="Your club" id="club-search--text-input" class="club-search--text-input" />
                </div>
                <button class="club-search--submit disabled">Search</button>
                <span>Can't find your city?</span>
            </div>
		</div>
	</div>
</div>