.autocomplete-suggestions {
    color: $mineShaft;
    background-color: $white;
    overflow: auto;
    border-bottom: 1px solid $doveGray;
    font-size: 1.6em;
    line-height: 20px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.autocomplete-suggestion {
    border: 1px solid $doveGray;
    border-bottom: 0;
    padding: 13px 10px;
    overflow: hidden;
    cursor: pointer;
    font-size: 1em;
}

.autocomplete-selected {
    background: $botticelli;
}