$fix-mqs: 1024px;

@import "main";

.ns12791_topSearchHolder {
	background-color: #000;
	background-image: url('../img/topbg_large_landscape.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}