@import "news_special/defaults";
@import "app";
@import "mixins";
@import "colours";
@import "creditsShareAndMore";
@import "./../../bower_components/snippets-css/index.css";
@import "type";
@import "buttons";
@import "topSearchSection";
@import "autocomplete";
@import "resultsSection";
@import "twinTownSection";
@import "shareTools";

.ns_rtl {
	direction: rtl;
}

.ns_hideMe {
	display: none;
}

.b-g-p {
    box-sizing: content-box;
}