@import "news_special/defaults";
@import "app";
@import "mixins";
@import "colours";
@import "creditsShareAndMore";
@import "./../../bower_components/snippets-css/index.css";
@import "type";
@import "buttons";
@import "topSearchSection";
@import "autocomplete";
@import "resultsSection";
@import "twinTownSection";
@import "randomCitySection";
@import "shareTools";

.ns12791_button {
    @extend %button--naked;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    line-height: 20px;
}

.ns_rtl {
	direction: rtl;
}

.ns_hideMe {
	display: none;
}

.b-g-p {
    box-sizing: content-box;
}