.ns12791_topSearchHolder {
	width: 100%;
	height: 100vh;
	background-color: $mineShaft;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.ns12791_mainTitle {
	font-size: 2.8em;
	line-height: 35px;
	color: $white;
	padding-top: 16px;
	margin: 0 32px 16px;
	text-shadow: 7px 7px 12px $mineShaft;
}

.ns12791_introSubheading {
    color: $white;
    margin: 16px 32px;
	font-size: 1.8em;
	line-height: 22px;
	text-shadow: 3px 3px 8px $mineShaft;
}

.ns12791_introParagraph {
    text-shadow: 2px 2px 4px $mineShaft;
}

.ns12791_searchBoxHolder {
	width: auto;
	margin: 0 8px;
	position: relative;
	font-size: 1.6em;
	line-height: 20px;
}

.ns12791_cityFreeTextSearchHolder, .ns12791_countryFreeTextSearchHolder {
	background-color: $black;
	background-color: $black80;
	width: 100%;
	padding: 16px;
	color: $white;
}

.ns12791_countryFreeTextSearchHolder {
	position: absolute;
	top: 0;
	left: 0;
}

.ns12791_searchBoxCta {
    display: block;
	margin: 0 0 16px;
	font-size: 1em;
    line-height: 20px;
    font-weight: bold;
}

.search--text-input {
	box-sizing: border-box;
    display: block;
    margin: 0 0 16px;
    color: $tundora;
    padding: 13px;
    width: 100%;
    height: 44px;
    outline: 0;
    border: 1px solid $base--border-color;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.ns12791_alternateSearchSpan {
    display: inline-block;
    font-weight: bold;
    color: $rajah;
    margin: 16px 0 0;
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid 1px $black;
    border-bottom-color: rgba(0,0,0,0);
    &:hover, &:focus{
        border-bottom-color: $rajah;
    }
    &.disabled {
        color: $tundora;
        cursor: default;
        pointer-events: none;
    }
}

.city-search--dropdown-input {
    display: block;
    color: $tundora;
    padding: 13px;
    width: 100%;
    height: 47px;
    background-color: $white;
    background-image: url(../img/frame/chevron.png);
    background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220%22%20y%3D%220%22%0A%09%20width%3D%2226.033%22%20height%3D%2213.135%22%20viewBox%3D%220%200%2026.033%2013.135%22%20enable-background%3D%22new%200%200%2026.033%2013.135%22%20xml%3Aspace%3D%22preserve%22%3E%0A%09%3Cpolygon%20fill%3D%22%233E3E3E%22%20points%3D%228.083%2C13.135%2016.166%2C0%2013.447%2C0%208.083%2C8.638%202.719%2C0%200%2C0%20%09%22/%3E%0A%3C/svg%3E%0A);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 2em;
    margin-bottom: 16px;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    &.disabled {
        background-color: $tundora;
        border-color: $tundora;
        pointer-events: none;
        cursor: default;
    }
}

.city-search--submit, .country-search--submit {
    @extend %button--cta;
    margin: 0;
    height: 44px;
    width: 100%;
    background-image: none;
    color: $white;
    background-color: $teal;
    border: 2px solid $teal;
    &:hover, &:active, &:focus {
        background-color: $teal;
        border: 2px solid $teal;
    }
    &.disabled {
        background-color: $tundora;
        border-color: $tundora;
    }
}

//'mobile' landscape
@media screen and (orientation:landscape) {
    .ns12791_topSearchHolder {
        background-image: url('../img/topbg_small_landscape.jpg');
    }
}

//'mobile' portrait
@media screen and (orientation:portrait) {
    .ns12791_topSearchHolder {
        background-image: url('../img/topbg_v_small_portrait.jpg');
    }
}

//'tablet' portrait
@media screen and (orientation:portrait) and (min-width: 600px) {
    .ns12791_topSearchHolder {
        background-image: url('../img/topbg_medium_portrait.jpg');
    }
}

//'tablet' and 'desktop' landscape
@media screen and (orientation:landscape) and (min-width: 769px) {
    .ns12791_topSearchHolder {
        background-image: url('../img/topbg_large_landscape.jpg');
    }
}

//'desktop' portrait
@media screen and (orientation:portrait) and (min-width: 1008px) {
    .ns12791_topSearchHolder {
        background-image: url('../img/topbg_large_portrait.jpg');
    }
}

@include respondMinMax(600px, false) {
	.ns12791_topSearchHolder {
		display: table;
	}

	.ns12791_searchContentsHolder {
		display: table-cell;
		vertical-align: middle;
	}

	.ns12791_mainTitle {
		font-size: 5.2em;
		line-height: 65px;
	}

	.ns12791_introSubheading {
		font-size: 2.8em;
		line-height: 35px;
	}

	.ns12791_mainTitle, .ns12791_introSubheading {
		width: 480px;
		padding: 0;
		margin: 16px auto;
        text-align: center;
	}

	.ns12791_searchBoxHolder {
		width: 380px;
		margin: 0 auto;
	}

	.ns12791_cityFreeTextSearchHolder, .ns12791_countryFreeTextSearchHolder {
		padding: 32px 40px;
	}
}

@include respondMinMax(1008px, false) {
	.ns12791_mainTitle {
		font-size: 6.4em;
		line-height: 80px;
	}

	.ns12791_introSubheading {
		font-size: 3.2em;
		line-height: 40px;
		text-align: center;
	}

	.ns12791_mainTitle, .ns12791_introSubheading {
		width: 600px;
		padding: 0;
		margin: 16px auto;
	}
}