p {
	margin: 1em 0;
}

.ns12791_subheading {
	color: $white;
	padding: 0;
	margin: 0 32px;
	font-size: 2.8em;
	line-height: 35px;
	text-align: center;
}

.ns12791_paragraph {
	font-size: 1.6em;
	line-height: 20px;
	color: $white;
	margin: 1em 32px;
	a {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid $white;
    }
}

.main, .ns_creditsHolder {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include respondMinMax(600px, false) {
	.ns12791_subheading {
		margin: 0 auto;
		width: 480px;
		font-size: 3.2em;
		line-height: 40px;
	}

	.ns12791_paragraph {
		margin: 1em auto;
		width: 480px;
	}
}

@include respondMinMax(1008px, false) {
	.ns12791_paragraph {
		width: 588px;
	}
}