$topSearchSectionFontColor: #fff;

.main {
	
	// font-size: 1.6em;
	// &.ns_rtl {
	// 	font-size: 18px;
	// }

	h4 {
		font-size: 1.6em;
		font-weight: bold;
		margin: 16px 0;
	}

	.ns12791_searchContentsHolder h4 {
		color: $topSearchSectionFontColor;
	}
}