$topSearchSectionFontColor: #fff;

.main {
	
	font-size: 16px;
	&.ns_rtl {
		font-size: 18px;
	}

	h1 {
		font-size: 3.5em;
		color: $topSearchSectionFontColor;
		margin: 16px 0;

	}

	h2 {

	}

	h3 {

	}

	h4 {
		font-size: 1em;
		font-weight: bold;
		margin: 16px 0;
	}

	.ns12791_searchContentsHolder h4 {
		color: $topSearchSectionFontColor;
	}
}